include ../bower_components/ui/jade/typekit

doctype html
block html
  html(data-format="#{ format }")
    head
      meta(charset="utf-8")
      title
        block title
      meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
      link(href="../css/index.css" rel="stylesheet")
      link(href="/images/favicon.ico" rel="icon" type="image/x-icon")

      script(src="//fast.eager.io/Njkyd51uIccS.js")
      +typekit

    body
      .page-loader
        .page-loader-inner
          .loading-dots.dark-gray
            | <i></i><i></i><i></i><i></i>

      .navigation
        a.json-is-logo(href="http://json.is")
          | JSON.is

        ul.side-navigation-list
          li
            a(class=(format === 'bower' ? 'active' : '') href="http://bower.json.is") bower.json
          li
            a(class=(format === 'install' ? 'active' : '') href="http://install.json.is") install.json
          li
            a(class=(format === 'package' ? 'active' : '') href="http://package.json.is") package.json
          li.separator.large
          li
            a(href="http://github.com/EagerIO/json.is") GitHub
          li
            a(href="http://json.is") About

      .page
        .code-editor
          block code

          .code-overlay
          .code-property-path

      script(src="../js/app.js")
