extend ../docBase

prepend html
  - format = "bower"

block title
  | bower.json is a file which provides a high-level description of a JavaScript project

block code
  #editor.
    {
      "name": "App",
      "main": "app.js",
      "version": "1.3.0",
      "authors": [
        "Jonny Appleseed <jonny@appleseed.com>"
      ],
      "private": true,
      "ignore": [
        "**/.*",
        "node_modules",
        "bower_components",
        "test",
        "tests"
      ],
      "devDependencies": {
        "angular": "1.2.25",
        "angular-resource": "1.2.25",
        "angular-ui-router": "0.2.11",
        "zeroclipboard": "1.3.5",
        "angular-cookie": "4.0.2",
        "angular-mocks": "1.2.25",
        "angular-sanitize": "1.2.25",
        "angular-markdown-directive": "0.3.0",
        "angular-payments": "git@github.com:laurihy/angular-payments.git#2472bc9befa256780d106a8e53a9dea12b7341ed",
        "jquery": "2.1.1",
        "angular-ui-sortable": "0.12.11",
        "showdown": "0.3.1"
      },
      "resolutions": {
        "angular": "1.2.25"
      }
    }
